{# Krzysztof Lewiarz #}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="mb-4 container mt-5">
    <div class="jumbotron">
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        <p class="text-center w-responsive mx-auto mb-5 text-center">
            Do you have any questions? Please do not hesitate to contact us directly.
            Our team will come back to you within a matter of hours to help you.
        </p>
        <hr class="my-6">
            <div class="row">
                <div class="col-md-9 mb-md-0 mb-5">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form_row(form.name) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                {{ form_row(form.email) }}
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                {{ form_row(form.subject) }}
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form">
                                {{ form_row(form.message) }}
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="text-center text-md-left text-white">
                        {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="col-md-3 text-center mt-3">
                <ul class="list-unstyled mb-0">
                    <li>
                        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <p>Warsaw, Chmielna 5, Poland</p>
                    </li>
                    <li>
                        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                        </svg>
                        <p>+48 654 213 789 </p>
                    </li>
                    <li>
                        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-envelope-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.313l6.709 3.933L8 8.928l1.291.717L16 5.715V5.4a2 2 0 0 0-1.059-1.765l-6-3.2zM16 6.873l-5.693 3.337L16 13.372v-6.5zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516zM0 13.373l5.693-3.163L0 6.873v6.5z"/>
                        </svg>
                        <p>symfonytest11@gmail.com</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}